@model IEnumerable<Student>
@{
    ViewData["Title"] = "Студенти";
}

<h2>Студенти</h2>
<p><a asp-action="Create" class="btn btn-primary">+ Додати</a></p>

<table class="table table-striped">
    <thead>
        <tr><th>ПІБ</th><th>Курс</th><th>Факультет</th><th>Кафедра</th><th>Телефон</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StPib</td>
                <td>@item.StKurs</td>
                <td>@item.Fa?.FaName</td>
                <td>@item.Ka?.KaName</td>
                <td>@item.StTelefon</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Деталі</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Редагувати</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>